.pagination {
    display: block;
}

.page-selector {
    width: 75px !important;
    position: relative;
    float: left;
    margin-left: -1px;
    height: 34px;
    text-align: center;
    border: 1px solid #ddd;
    outline: none
}

.page-size .select2 {
    width: 75px !important;
    padding: 0;
}

.page-size .select2-selection {
    border: none;
    border-radius: inherit;
    height: 32px;
}

.page-size .select2-selection--single .select2-selection__rendered {
    padding-top: 4px;
}

.page-size .select2-selection__arrow {
    height: 30px;
}

.page-size .not-button span, .page-size .not-button span:hover {
    border: none;
    background: inherit;
    color: inherit;
}

.pv_count_page {
    float: left;
    margin: 4px 0 0 10px;
}

.pv_count_row {
    float: left;
    margin: 7px 10px 0 90px;
}

.pv_count_page_number {
    margin-left: 5px;
    font-size: 16px;
}

.pv_select_block {
    display: inline-block;
    position: relative;
}

.pv_select_wrapper {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}

.spin_wrapper {
    width: 70px;
    display: inline-block;
}