.page-selector {
    width: 75px !important;
    position: relative;
    float: left;
    margin-left: -1px;
    height: 34px;
    text-align: center;
    border: 1px solid #ddd;
    outline: none
}

.page-size .select2 {
    width: 75px !important;
    padding: 0;
}

.page-size .select2-selection {
    border: none;
    border-radius: inherit;
    height: 32px;
}

.page-size .select2-selection--single .select2-selection__rendered {
    padding-top: 4px;
}

.page-size .select2-selection__arrow {
    height: 30px;
}

.page-size .not-button span, .page-size .not-button span:hover {
    border: none;
    background: inherit;
    color: inherit;
}
